<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.sequielo.fmradiowithoutheaphones">

    <application
        android:allowBackup="true"
        android:label="FMRadio Without Headphones" >
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="FMRadio Without Headphones." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>
</manifest>
